*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

div.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}
.card:hover {
    transform: translateY(-20px);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content{
    padding: 20px;

}
.card-content h1{
    font-size: 20px;   
}
.card-content p{
    font-size: 15px;
    color:black;
    margin-bottom: 20px;   
}
.card-button{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}